:root {
  --progresspontinho: ;
}

body {
  background-color: 0, 0, 0, 0;
  max-height: 100px;
  max-width: 600px;
  font-family: "Outfit", sans-serif;
}

#div1 {
  margin-top: 15px;
  position: relative;
}

#kd{
  position: absolute;
  top: 75px;
  left: 10px;
  color: white;
}
#hsr{
  position: absolute;
  top: 88px;
  left: 10px;
  color: white;
}

#imgRank {
  display: flex;
  float: left;
  width: 100px;
  z-index: 3;
  position: absolute;
}

#textonmrank {
  display: flex;
  background-size: contain;
  color: transparent;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: absolute;
  margin-top: auto;
  height: 60px;
  top: 25px;
  z-index: 2;
  border-radius: 10px;
  width: 350px;
}

#headerburrao {
  top: -10px;
  left: 100px;
  position: absolute;
  font-size: 27px;
}
#WLvalue{
  top: 37px;
  left: 100px;
  position: absolute;
  font-size: 18px;
  margin:0;
  padding:0;
  color: white;
}

#ultmmr {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color: white;
  position: absolute;
  margin-top: auto;
  height: 30px;
  top: 90px;
  z-index: 1;
  left: 80px;
  background-color: red;
  border-radius: 10px;
  width: 250px;
}

#ultmmr::after {
  content: "";
  display: block;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color: white;
  position: absolute;
  margin-top: auto;
  height: 30px;
  width: var(--progresspontinho);
  background: green;
  border-radius: 10px;
  transition: width 2s;
}

#ultimapartida {
  left: 10px;
  position: relative;
  font-size: 20px;
  z-index: 9;
}

#mmrat {
  display: none;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color: white;
  position: absolute;
  margin-top: auto;
  height: 30px;
  top: 85px;
  z-index: 3;
  left: 33px;
  background-color: rgba(117, 117, 117, 0.534);
  border-radius: 10px;
  width: 35px;
}

#mmratual {
  align-self: center;
  left: px;
  position: relative;
  font-size: 20px;
}

#imgcantinho {
  position: absolute;
  height: 150px;
  left: 265px;
  content: url();
}

#imgRankNew {
  display: flex;
  float: left;
  width: 100px;
  z-index: 3;
  position: absolute;
  
}
@keyframes ranknewAnim {
    0%{
        opacity: 0;
      }
      25% {
        opacity: 0.25;
      }
      75% {
        opacity: 0.75;
      }
      100% {
        opacity: 1;
      }
}

@keyframes rankoldAnim {
  0%{
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}