#divmain {
    background-color: #282b30;
    max-width: 400px;
    max-height: 200px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 0px;
}
#WLtext{
    color: whitesmoke;
    padding: 0;
    padding-top: 3px;
    padding-bottom: -3px;
    margin: 0;
    font-size: 3rem;
}
#WLvalue{
    padding: 0;
    margin: 0;
    padding-top: -5px;
    padding-bottom: 5px;
    font-size: 6rem;
}

#divmain {
    justify-content: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  .gradient-border {
    --borderWidth: 5px;
    background: #1D1F20;
    position: relative;
    border-radius: 10px;
  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: 10px;
    z-index: -1;
    animation: animatedgradient 5s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
  
  