body{
    background-color: 0,0,0,0;
    max-height: 100px;
    max-width: 600px;
    font-family: 'Outfit', sans-serif;
}
#div1{
    margin-top: 15px;
    position: relative;
}
#imgRank{
    display: flex;
    float: left;
    width: 100px;
    z-index: 3;
    position: absolute;
}
#textonmrank{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    position: absolute;
    margin-top:auto;
    height: 60px;
    top: 25px;
    z-index: 2;
    background-color: cornflowerblue;
    border-radius: 10px;
    width: 350px;
}
#headerburrao{
    left: 100px;
    position: relative;
}
#ultmmr{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white;
    position: absolute;
    margin-top:auto;
    height: 30px;
    top: 80px;
    z-index: 1;
    left: 80px;
    background-color: yellow;
    border-radius: 10px;
    width: 250px;
}
#ultimapartida{
    left: 10px;
    position: relative;
    font-size: 20px;  
}
#mmrat{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white;
    position: absolute;
    margin-top:auto;
    height: 30px;
    top: 85px;
    z-index: 3;
    left: 33px;
    background-color: rgba(117, 117, 117, 0.534);
    border-radius: 10px;
    width: 35px;
}
#mmratual{
    align-self: center;
    left: px;
    position: relative;
    font-size: 20px;  
}